.App {
  text-align: left;
  height: 100vd;
}

.simulator {
  display: flex;
  height: 100%;
  flex-flow: row;
}

.commands-wrapper {
  min-width: 400px;
  padding: 10px;
}

.plateau-wrapper {
  padding: 10px;
  flex-grow: 1;
}
